@import "../../../style/variable";
@import "../../../style/base";

main {
  margin-bottom: 60px;
}

.introduce-service {
  display: flex;
  justify-content: center;
}
.title{
  width: fit-content;
  font-size: 24px;
  color: #17476D;
  font-weight: 600;
  text-transform: uppercase;
}
.content {
  width: 1372px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 24px;
}
.table-area {
  display: flex;
  justify-content: center;
}

table {
  width: 928px;
  border-collapse: collapse;
}

table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
table th {
  border-top: 2px solid #60B8D6;
  border-bottom: 2px solid #60B8D6;
  padding: 8px;
  background-color: $BROWN_400;
  color: white;
}

table {
  margin: 30px 0;
  border: none;
}
table td:nth-child(2) {
  text-align: left;
}

ul {
  padding-left: 20px;
}
ul,li {
  list-style-type: disc;
}

.img-row {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.img-service {
  width: 628px;
  height: auto;
}
