@import "../../style/variable";
@import "../../style/base";

main {
  margin-bottom: 60px;
}
form {
  width: 908px;
  margin: 0 auto;
  input {
    height: 51px;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    margin-top: 8px;
    &:focus {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  button {
    width: 328px;
    height: 53px;
    border: none;
    border-radius: 10px;
    background-color: $BROWN_900;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $BROWN_500;
    }
  }
  .error {
    margin-top: 8px;
    color: red;
  }
}
